{% extends "base.html" %}
{% block title %} Последние обновления {% endblock %}

{% block content %}

    <main role="main" class="container">

        {% include 'menu.html' with index=True %}

        <div class="table">

                <h1> Последние обновления на сайте</h1>

                <!-- Вывод ленты записей -->
                {% load cache %}
                <!-- Кеширование списка постов на 20 секунд -->
                {% cache 20 index_page page.number %}
                    {% for post in page %}
                        {% include "post_item.html" with post=post %}
                    {% endfor %}
                {% endcache %}

                <!-- Вывод паджинатора -->
                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}

        </div>
    </main>
{% endblock %}